<app-category (click)="onCategory()"></app-category>
<input type="search" class="form-control mt-2" placeholder="Haber başlıklarında ara" [(ngModel)]="searched">
<div style="text-align: center">
  <button class="mt-2  btn btn-sm btn-outline-success " (click)="rememberMe()">Beni hatırla</button>
</div>
<table class="table  mt-2">
  <thead style="font-weight:bold ">
    <td>Tarih</td>
    <td style="cursor:pointer" (click)="setOrder()" (mouseover)="hover=true" (mouseleave)="hover=false">
      Saat
      <span class="ml-2">
        <span *ngIf="!default" [ngStyle]="{color: hover==true  ? 'lightgray' : 'transparent' }">▲</span>
        <span [hidden]="!default">
          <span [hidden]="!reverse">▼</span>
          <span [hidden]="reverse">▲</span>
        </span>
      </span>
    </td>
    <td>Başlık</td>
    <td>Kategori</td>
  </thead>
  <tbody *ngFor="let headline of headlines | orderBy: 'date':reverse:'case-insensitive'
   | categoryFilter:filtered:'category' | searchFilter:searched:'headline' ;let i=index">
    <td> {{headline.date | date: 'dd/MM/yyyy'}} </td>
    <td> {{headline.date | date: 'HH:mm' }} </td>
    <td>
      <!-- headlines elemanlarına ulaşabilmek için indexleri id olarak kimliklendirildi. -->
      <a (click)="getPassiveAndShowContent(i,headline)" (click)="openModal(template)" [id]="i" href="#">{{headline.headline}}</a>
    </td>
    <td> {{headline.category}} </td>
  </tbody>
</table>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title"> {{contentHeadline}} </h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Markdown formatında gelen içeriği convert etmek ve güvenli yapmak için pipe'lar kullanıldı. -->
  <div class="modal-body" [innerHTML]=" content | MarkdownToHtml | noSanitize"></div>
</ng-template>